requests==2.18.4
dialogflow==0.4.0
python-dotenv==0.8.2
Flask==2.0.3
fuzzywuzzy
flask
requests
PyDictionary
googletrans==3.1.0a0
CurrencyConverter
wikipedia
wolframalpha
spacy
openai
python-Levenshtein
